<ion-header>
  <ion-toolbar>
    <ion-title>
      Alcometer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<ion-list>
  <ion-item>
    <ion-label>Weight (in kg)</ion-label>
    <ion-input type="number" name="weight" [(ngModel)]="weight"></ion-input>
  </ion-item>
  <ion-item>
        <ion-label>Gender</ion-label>
        <ion-select [(ngModel)]="gender" name="gender" placeholder="Select One" cancel-text="Nah!" ok-text="Yes">
          <ion-select-option value="male">Male</ion-select-option>
          <ion-select-option value="female">Female</ion-select-option>
        </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Time (in hours)</ion-label>
    <ion-select [(ngModel)]="time" name="time" placeholder="Select One" cancel-text="Nah!" ok-text="Yes! That time"> 
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
      <ion-select-option value="3">3</ion-select-option>
      <ion-select-option value="4">4</ion-select-option>
      <ion-select-option value="5">5</ion-select-option>
      <ion-select-option value="6">6</ion-select-option>
      <ion-select-option value="7">7</ion-select-option>
      <ion-select-option value="8">8</ion-select-option>
      <ion-select-option value="9">9</ion-select-option>
      <ion-select-option value="10">10</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Bottles (of beer)</ion-label>
    <ion-select [(ngModel)]="bottles" name="bottles" placeholder="Select One" cancel-text="Nah!" ok-text="Yes! This many...">
      <ion-select-option value="1">1</ion-select-option>
      <ion-select-option value="2">2</ion-select-option>
      <ion-select-option value="3">3</ion-select-option>
      <ion-select-option value="4">4</ion-select-option>
      <ion-select-option value="5">5</ion-select-option>
      <ion-select-option value="6">6</ion-select-option>
      <ion-select-option value="7">7</ion-select-option>
      <ion-select-option value="8">8</ion-select-option>
      <ion-select-option value="9">9</ion-select-option>
      <ion-select-option value="10">10</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Promilles</ion-label>
    <ion-input type="number" name="promilles" readonly value="{{promilles | number : '1.2-2'}}"></ion-input>
  </ion-item>
</ion-list>
<div padding>
  <ion-button expand="block" (click)="calculate()">Calculate</ion-button>
</div>
</ion-content>
